:root{
	--alpha-badge-border: 1;
	--badge-corner-radius: 4.0rem;
	--card-image-padding: 0.0rem;
	--card-corner-radius: 0.0rem;
	--card-border-width: 0.0rem;
	--card-border-opacity: 0.1;
	--card-shadow-opacity: 0.0;
	--card-shadow-visible: 0;
	--card-shadow-horizontal-offset: 0.0rem;
	--card-shadow-vertical-offset: 0.4rem;
	--card-shadow-blur-radius: 0.5rem;
	--color-shadow: 128, 128, 128;
    --duration-short: .1s;
    --duration-default: .2s;
    --duration-long: .5s;
    --media-padding: 0px;
	--media-border-opacity: 0;
	--media-border-width: 0px;
	--media-radius: 0px;
	--media-shadow-opacity: 0.0;
	--media-shadow-horizontal-offset: 0px;
	--media-shadow-vertical-offset: 0px;
	--media-shadow-blur-radius: 0px;
	--media-shadow-visible: 0;
	--inputs-radius: 4px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.55;
    --inputs-shadow-opacity: 0.0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 0px;
    --inputs-shadow-blur-radius: 0px;
    --inputs-radius-outset: 0px;
	--popup-border-width: 0px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.25;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 3px;
    --popup-shadow-blur-radius: 4px;
    --text-boxes-border-opacity: 0.0;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0.0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 0px;
    --text-boxes-shadow-blur-radius: 0px;
	--variant-pills-radius: 40px;
	--variant-pills-border-width: 1px;
	--variant-pills-border-opacity: 0.55;
	--variant-pills-shadow-opacity: 0.0;
	--variant-pills-shadow-horizontal-offset: 0px;
	--variant-pills-shadow-vertical-offset: 0px;
	--variant-pills-shadow-blur-radius: 0px;
}

/* Don't show quantity input on Aerosmith theme, it looks off - will revisit */
.section-wrapper[data-section-key="product"] .quantity-input-block,
.section-wrapper[data-section-key="featured-product"] .quantity-input-block{
	display: none;
}

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/*********************** SLIDESHOW SECTION START ***********************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.section-wrapper[data-section-key="slideshow"][data-section-setting-color-scheme-id="darkPrimary"] .slideshow .slideshow-heading-and-subheading-wrapper,
.section-wrapper[data-section-key="slideshow"][data-section-setting-color-scheme-id="darkSecondary"] .slideshow .slideshow-heading-and-subheading-wrapper{
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/*********************** SLIDESHOW SECTION END *************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/